<div class="sidebar">
    <ul>
       <li><a class="active" ><img src="../../assets/images/home (1).png" alt="Dashboard" /><span>Dashboard</span></a></li> 
       <li><a><img src="../../assets/images/Ewallet.png" alt="Wallet" /><span>E Wallet</span>  </a></li> 
       <li><a><img src="../../assets/images/affiliates.png" alt="Affiliates" /><span>Affiliates</span></a></li> 
       <li><a><img src="../../assets/images/event.png" alt="Events" /><span>Events</span></a></li> 
       <li><a><img src="../../assets/images/Payment.png" alt="Payments" /><span>Payments</span></a></li> 
       <li><a><img src="../../assets/images/Manage_biz.png" alt="Manage My Business" /><span>Manage My Business</span></a></li> 
       <li><a><img src="../../assets/images/settings.png" alt="Settings" /><span>Settings</span></a></li> 
    </ul>
</div>
